CompileFlags:
  Add:
    - -std=c++20
    - -I/home/indmadmax/IntelliCPP/backend/include
    - -I/home/indmadmax/IntelliCPP/backend/node_modules/node-addon-api
    - -I/usr/include/c++/11
    - -I/usr/include/x86_64-linux-gnu/c++/11
    - -I/usr/include/c++/11/backward
    - -I/usr/lib/gcc/x86_64-linux-gnu/11/include
    - -I/usr/local/include
    - -I/usr/include/x86_64-linux-gnu
    - -I/usr/include
Diagnostics:
  Suppress:
    - unused-includes
    - pp_file_not_found
